@charset "UTF-8";
/* mobil och grundinställningar */
body {
  max-width: 100%;
  margin: auto;
  /* mittenfältet/ textfältet */
  /* footer  */
}

body .image, body .text-box {
  border-radius: 10px;
  border: #313131 2px solid;
}

body .logo {
  width: 100%;
  height: 100%;
  padding: 3%;
  max-width: 250px;
}

body header {
  padding-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #004DA9;
}

body header nav {
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body header nav ul {
  float: right;
  margin-top: 3%;
  color: #ffffff;
  margin-right: 5%;
}

body header nav .menu {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

body header nav .menu a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 150%;
}

body header nav .menu a:hover {
  border-bottom: 3px solid #ffffff;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

body main .text-box {
  margin: 0.5%;
  background-color: #2e8bf6;
  padding-bottom: 3%;
}

body main .text-box .text h1 {
  text-align: center;
  color: #ffffff;
  font-size: 200%;
}

body main .text-box .text p {
  padding: 0 2% 2% 2%;
  color: #ffffff;
}

body main .text-box .right, body main .text-box .left, body main .text-box .text-header, body main .text-box .all {
  color: #ffffff;
}

body main .text-box .text-header {
  text-align: center;
}

body main .text-box .image-main {
  text-align: center;
}

body main .text-box .image {
  text-align: center;
  max-width: 500px;
  max-height: 500px;
}

body footer {
  background-color: #004DA9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
}

body footer .sociala-medier {
  -ms-grid-column: 1;
  grid-column: 1;
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 3px;
  cursor: pointer;
  font-size: 2em;
}

body footer .sociala-medier a {
  text-decoration: none;
  color: #ffffff;
}

body footer .sociala-medier a:hover {
  border-bottom: 3px solid #ffffff;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

body footer .footer-logo {
  margin: auto;
}

body footer .footer-menu {
  -ms-grid-column: 3;
  grid-column: 3;
  padding: 3px;
  display: block;
  text-align: right;
  margin-right: 10%;
  cursor: pointer;
  font-size: 1em;
}

body footer .footer-menu a, body footer .footer-menu span {
  text-decoration: none;
  color: #ffffff;
}

body footer .footer-menu a:hover, body footer .footer-menu span:hover {
  border-bottom: 3px solid #ffffff;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
}

/* Kontaktformulär */
textarea {
  height: 200px;
}

.contact-form {
  padding: 25px;
}

input[type=submit], input[type=text], textarea {
  width: 100%;
  max-width: 100%;
  font-size: 15px;
  border: 1px solid #313131;
  border-radius: 4px;
}

.map {
  padding-top: 40px;
  display: block;
  margin: auto;
}

input[type=submit] {
  background-color: #313131;
  color: #ffffff;
}

input[type=text], textarea {
  margin: 10px 0;
  resize: none;
  background-color: #FFFFFF;
  font-weight: bold;
}

/* Desktop */
@media (min-width: 1024px) {
  main .text-box {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'header header header header' 'right right left left' 'right right left left';
    grid-gap: 20px;
    padding: 0 20px;
  }
  main .text-box h1 {
    grid-column: span 4;
    text-align: center;
    color: #ffffff;
  }
  main .text-box .text, main .text-box .left, main .text-box .right.image {
    display: -ms-grid;
    display: grid;
        grid-template-areas: inherit;
    padding: 0px;
  }
  main .text-box .image {
    text-align: center;
    grid-column: span 4;
  }
  main .text-box .text-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: header;
  }
  main .text-box .left {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: left;
  }
  main .text-box .right {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: right;
  }
  main .text-box .all {
    grid-column: span 4;
    font-size: 120%;
  }
}

/* Cookie CSS */
#cookies {
  cursor: pointer;
}

.cookie {
  display: none;
  position: fixed;
  z-index: 1;
  padding-bottom: 5%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #313131;
  background-color: rgba(0, 0, 0, 0.4);
}

.cookie-content {
  padding: 15px;
  position: absolute;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #313131;
  left: 20%;
  width: 60%;
  background-color: #ffffff;
  border: 1px solid #313131;
}

.close {
  font-size: 40px;
  float: right;
  color: #313131;
  cursor: pointer;
}

.close:hover {
  text-decoration: none;
}

/* Cookies END */
/* image buttons */
button {
  color: #FFFFFF;
  background-color: #313131;
  margin: 0 20px 5px 20px;
}
/*# sourceMappingURL=style.css.map */